body { /*centraliza os itens no centro da tela*/
    display: grid;
    place-items: center;
}

/**Tirar scroll horizontal**/
#items-wrapper {
    width: 85vw;
}

img {
    width: 100%;
    height: 100%;
}

/**/

#items {
    display: flex; /*deixar imagens uma do lado da outra*/
    overflow-x: auto; /*colca o scroll horizontal nas imagens*/

    scroll-snap-type: x mandatory; /*configura o scroll para quando soltar a imagem maior centralizar na tela*/
    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
}

.item {
    flex: none; /*mostra só uma imagem na tela*/

    width: 100%;
    height: 400px;

    object-fit: cover;

    scroll-snap-align: start; /*configura o scroll para quando soltar a imagem maior centralizar na tela*/

    pointer-events: none; /*desativa clique do mouse*/
}

@media all and (max-width: 700px) {
    #items-wrapper {
        width: 90vw;
    }
    .item {
        height: 60vh;
    }
}