.certificate-box {
   flex-direction: column;   
   height: 1200px;  
   width: 100%;   
   max-width: 1280px;    
   margin-top: .5%;
}
.cpf, .cnpj {
    height: 500px;
    width: 85vw;
    max-width: 1280px;
    margin: auto;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    border-radius: 7px;
    background: white;
    transition-duration: 0.6s;
    overflow: hidden;
}
.cnpj {
    margin: 50px auto 50px auto;
}
h2 { /*titulo da section*/
    padding-top: 20px; 
    padding-bottom: 10px;
}
h4, .title-section { /*decricao e subtitulos a1 e a3*/
    text-align: center; 
    font-size: 1.2em;
    margin: auto;
}    
.certificados { /*div que contem os subtitulos a1 e a3, e os tipos de certificados*/
    margin: auto;
    height: 415px;
    display: flex;   
}
    .subtitulo { /*subtitulos a1 e a3*/
        display: flex;
        justify-content: center;
        align-items: center;
        background: #263e7a;
        height: 42px;
        border-radius: 10px;
        color: white;
        margin-top: auto;
        margin-bottom: 20px;
        width: 250px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    }
    .a1, .a3 {
        text-align: center;
        width: 45%;
        margin: auto;
        height: 100%;       
    }
    .divisoria {
        background: #3d589c;
        width: 2px;
        border-radius: 20px;
        height: 80%;
        margin: auto;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 15%);
    }
.item {       
    width: 350px;
    height: 80px;   
    margin: 5px auto 5px auto;
    cursor: pointer;
}
    .item-description {      
        text-align: left;
        margin-left: 60px;
        height: 100%;      
    }
    .item-description a {
        text-decoration: none;      
        color: black;                    
    } 
    h3 {
        font-size: 1.050em;
        margin-bottom: 7.5px;    
    } 
    .item-h4 {            
        text-align: left;
        font-size: 1.350em;
        padding-top: 5px;
        margin-bottom: 7.5px;
        color: hsl(199, 64%, 35%);
    }
    
.rodape { /*rodape com texto e botao para contato*/
    margin: 4.5% auto auto auto;
    display: flex;
    width: 85%;
    height: 10%; 
    max-height: 85px; 
    max-width: 1280px;
    background: white;
}
    p {
        text-align: center;
        margin: auto 2.5% auto 2.5%;
        font-size: 1.275em;
    }
    button {   
        background: linear-gradient(#31e25b,#00bb2d);                 
        border-radius: 12px;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
        color: white;
        cursor: pointer;
        text-decoration: none;
        padding: 18px; 
        border: none;  
        margin: auto 2.5% auto auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        height: 40px;                        
    }
        button svg {
            margin-right: 2.7%;
        }
        button:hover {
            background: #4fcf6d;
        }   




@media (max-width: 768px) { /*Configs gerais para dispositivos mobile*/  
    .certificate-box {
        height: 1175px; 
    }
    .cpf, .cnpj {
        height: 450px;
        width: 100vw;  
        border-radius: 0px;
        overflow-y: auto;
    }
    .cnpj {
        margin: 50px auto 50px auto;
    }
    .divisoria {
        display: none;
    }  
    h4 { /*decricao e subtitulos a1 e a3*/         
        font-size: 1.050em;                 
        margin-top: 2.5%;
    }
    .certificados { /*div que contem os subtitulos a1 e a3, e os tipos de certificados*/      
        height: 100%;
        width: 100%;       
        flex-direction: column;
    }
        .subtitulo { /*subtitulos a1 e a3*/
            width: 70%;
            margin-top: 2.5%;                    
        }
        .a1, .a3 {     
            width: 100%;   
            margin-bottom: 2.5%;  
        }    
        .certificado { /*tipos de certificados*/
            height: 100%; 
            display: block;  
            margin-top: 2.5%;
            padding: 1.5%;
            padding-bottom: 1.5%;
        }  
        .validade {
            margin-top: 2.5%;
        }
        .social-icon {
            position: sticky;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: .5%;
        }
        .rodape { /*rodape com texto e botao para contato*/          
            flex-direction: column;
            width: 100%;
            min-height: 150px;    
            border-radius: 0px;                   
        }     
        p {
            margin-top: 5%;
            font-size: 1.1em;   
        }      
            button {   
                margin: auto;                      
            }
}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .certificado { /*tipos de certificados*/
        width: 100%;
        margin-top: 3.5%;
    }  
    h3 {
        margin-top: 1.5%;
        font-size: 1.2em;
    }
    @media (max-width:920px) {
        #h3-a3 {
            margin-left: 50px;
        }
    }
    .social-icon {
        margin-left: 1.5%;
    }
    #ico-a1 {
        margin-left: 7.5%;
    }
    p {
        font-size: 1.150em;
    }
}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 
}

