.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    /*background: chartreuse;*/
}
    .certificate-box {
        background: black;
        text-align: center;
        display: flex;
        flex-direction: row;
        width: 85vw;
        height: 80vh;
        max-width: 1280px;
        flex-wrap: wrap;
    }
    .choices {
        background: red;
        width: 100vw;
        max-width: 1280px;
        height: 70%;
        display: flex;
    }
    .box {
        background: linear-gradient(#1d46ac,#6d85c2);
        width: 25vw;
        max-width: 340px;
        height: 50vh;
        max-height: 320px;
        margin: 1.5% auto 0 auto;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
        border-radius: 7px;
    }
    h2 {
        background: linear-gradient(135deg, #d6301a 0%, #f54f3a 80%);
        text-align: center;
        color: white;
        width: 75%;/*
        max-width: 350px;
        min-width: 220px;*/
        height: 5.5vh;
        max-height: 80px;
        min-height: 52px;
        border-radius: 20px;            
        line-height: 5.5vh;
        overflow: hidden;
        /*margin: -7% auto 0 auto;*/
    }
    label {
        color: white;
    }
    .result {
        background: goldenrod;
        width: 100vw;
        max-width: 1280px;
        height: 30%;
        display: flex;
    }
#box-certificado-ideal {
    border-radius: 20px;
    background: linear-gradient(#0a2875,#2156da);
    width: 70%;/*
    max-width: 380px;
    min-width: 280px;*/
    height: 80%;/*
    max-height: 500px;
    min-height: 400px;*/
    margin: auto;
    margin-top: 3.5%;
    box-shadow: 1px 5px 25px 1px black;
}


@media (min-width:320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

}
@media (min-width:480px) and (max-width: 599px){ /* smartphones, Android phones, landscape iPhone */ 

}
@media (min-width:600px) and (max-width: 768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 

}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 

}


