/*****CONTACT-INFORMATIONS*****/
.title {
    text-align: center;
    margin: 0.7rem auto;
}

.contact-information-box {
    /*display: flex;*/
    position: absolute;
    margin: 1.25rem 2.5rem 1.25rem 2.5rem;
    padding: 1.25rem;
    background: rgb(130, 130, 236);
    border-radius: 1.25rem;
}

/****Mapa com localizacao****/
.mapa { 
    visibility: visible;
    margin: 1rem 0rem 0rem 44rem;
    position:relative;
    text-align:right;
    height:25rem;
    width:31.25rem;
}

.mapa #map {
    overflow:hidden;
    background:none!important;
    height:25rem;
    width:31.25rem;
}
/***************************/

#filiais {
    text-align: right;
}

.filial {
    margin: 1rem 6.875rem 1rem 6.875rem;
    display: inline;
}

.buttons {
    margin: 1rem 5rem 1rem 5rem;
    display: inline;
    width: 150px;
    height: 40px;
    background: red;
    border-radius: 10px;
}



