.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    /*background: chartreuse;*/
}
.information-box {
    background: rgb(130, 130, 236);
    background: linear-gradient(#2156da,#0a2875);
    border-radius: 25px;
    width: 90vw;
    max-width: 1600px;
    height: 76vh;
    display: flex;
    box-sizing: border-box; /*mantem o tamanho da caixa, o padding nao interfere*/
    box-shadow: 1px 5px 25px 1px black;
}

.informacoes {
    /*background: blue;*/
    width: 56%;
    height: 100%;
}

.info-certificadora {
    /*background: rebeccapurple;*/
    width: 75%;
    margin: auto;
    text-align: left;
}

.info-corretora {
    /*background: rebeccapurple;*/
    width: 75%;
    margin: auto;
    text-align: left;
}

.localizacao {
    /*background: wheat;*/
    width: 44%;
    height: 100%;
}

.contato-certificadora {
    /*background: green;*/
    height: 40%;
}

.info {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2.5%;
    font-size: 1.2rem;
}

.contato-corretora {
    /*background: red;*/
    height: 60%;
}

.logo-social {
    height: 25px;
}


h2 {   
    text-align: center;
    color: white;     
}

/****Mapa com localizacao****/
.mapa { 
    visibility: visible;
    height: 55vh;
    width: 34vw;
    max-width: 600px;
    margin: auto;
}

#map {
    overflow:hidden;
    background:none!important;
    height: 55vh;
    width: 34vw;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
}
/***************************/

/****h4 filial e botoes****/
.filiais {
    display: flexbox;
    text-align: center;
    margin: 2.5% auto 2.5% auto;
    /*background: green;*/
}

.buttons {
    background: white;
    background: linear-gradient(#d6301a,#f54f3a);
    display: inline;
    width: 16vw;
    max-width: 200px;
    height: 7.5vh;
    max-height: 50px;
    border-radius: 18px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.buttons.active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.buttons::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.buttons:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

#button-assare {
    margin-left: 2vw;
}

#button-juazeiro {
    margin-right: 2vw;
}
/***************************/


@media all and (max-width: 700px) {
    .information-box {
        background: rgb(130, 130, 236);
        border-radius: 25px;
        width: 90vw;
        height: 98vh;
        display: block;
    }
        .informacoes {
            /*background: blue;*/
            width: 100%;
            height: 60%;
        }
            .contato-certificadora {
                /*background: green;*/
                height: 35%;
            }
            .contato-corretora {
                /*background: red;*/
                height: 65%;
            }
            #title-certificadora, #title-corretora {
                font-size: 1.250rem;
                text-align: center;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                color: white;
            }
                .info {
                    text-align: left;
                    margin-left: 10%;
                    margin-bottom: 2.5%;
                    font-size: 1rem;
                }
.localizacao {
    /*background: wheat;*/
    width: 100%;
    height: 40%;
}


/****Mapa com localizacao****/
.mapa { 
    visibility: visible;
    height: 25vh;
    width: 60vw;
    max-width: 600px;
    margin: auto;
}

#map {
    overflow:hidden;
    background:none!important;
    height: 25vh;
    width: 60vw;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: -5px;
    
}
/***************************/

/****h4 filial e botoes****/
.filiais {
    display: flexbox;
    text-align: center;
    margin: -5% auto 2.5% auto;
    /*background: green;*/
}


.buttons {
    display: inline;
    width: 28vw;
    max-width: 160px;
    height: 6.2vh;
    max-height: 45px;
    border-radius: 12px;
    margin-bottom: -1%;
}

#button-assare {
    margin-left: 2vw;
}

#button-juazeiro {
    margin-right: 2vw;
}

}