footer{
    bottom: 0px;
    width: 100%;
    height: 100px;
    background: #dbf1ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #bae3fd;
    text-align: center;
}footer a{text-decoration:none;color:black;}footer a:hover{color:#48b3f5;}
.footer-content {
    width: 620px;
    margin: auto;
    display: flex;
    align-items: center;
}
.footer-content .social-icon {
    position: inherit;
    margin-left: 12px;
    background: #48b3f5;
}.footer-content .social-icon svg {color: white;}.footer-content .logo-img {margin-right:-35px;}  
@media (max-width:580px) {.footer-content{width:100%;flex-direction:column;}}