h2{
    padding-top: 2%;
    padding-bottom: 2.5%;
    font-size: 28px;
    color: #263e7a;
}

.sobre-empresa { 
    height: 50vh;
    width: 85vw;
    max-width: 1280px;
    margin: auto;
    margin-top: 2.5%;

    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    border-radius: 7px;
    background: #fff;/*
    transition: 0.5s;*/
}
    .title-empresa {
        text-align: center;
    }
    .text-empresa {
        font-size: 18px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
.sobre-edval { 
    height: 50vh;
    display: flex;
    width: 85vw;
    max-width: 1280px;
    margin: auto;
    margin-top: 2.5%;

    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    border-radius: 7px;
    background: #fff;/*
    transition: 0.5s;*/
    text-overflow: ellipsis;
}
.sobre-edval:hover,.sobre-empresa:hover {
    transform: translateY(-10px);
}
    .title-edval {
        text-align: center;
    }
    .text-edval {
        font-size: 18px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        text-overflow: ellipsis;
    }
    .sobre {
        /*background: gray;*/
        width: 70%;
    }
    .edval {
        /*background: red;*/
        width: 30%;
        text-align: center;
    }
    .imagem-edval {
        width: 250px;
    }
.sobre-seguradoras {
    height: 25vh;
    width: 100vw;
    text-align: center;
    margin-top: 2.5%;

    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    border-radius: 7px;
    background: #becbec;/*
    transition: 0.5s;*/
}
    .title-seguradoras {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 28px;
        color: #263e7a;
    }
    .seguradoras {
        margin: auto;
        width: 75vw;
        display: flex;
        justify-content: space-between;
    }
    .imagem-seguradora:hover {
        transform: translateY(-7px);
    }

@media (min-width:320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .sobre-empresa, .sobre-edval { 
        height: 50vh;
        width: 100vw;
        margin-top: 2.5%;
    }

}
@media (min-width:480px) and (max-width: 599px){ /* smartphones, Android phones, landscape iPhone */ 
    .sobre-empresa, .sobre-edval { 
        height: 50vh;
        width: 100vw;
    }
}
@media (min-width:600px) and (max-width: 768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .sobre-empresa, .sobre-edval { 
        height: 50vh;
        width: 100vw;
        margin: auto;
        margin-top: 2.5%;
    }
}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .sobre-empresa, .sobre-edval { 
        max-width: 765px;
        margin: auto;
        margin-top: 2.5%;
    }
}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 
    .sobre-empresa, .sobre-edval { 
        max-width: 965px;
        margin-top: 2.5%;
    }
}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 
    .sobre-empresa, .sobre-edval { 
        max-width: 1280px;
        margin-top: 2.5%;
    }
    footer {
        margin-top: 1.5%;
    }
}
