.sobre-empresa, .sobre-edval { 
    height: 60vh;
    width: 85vw;
    max-width: 1280px;
    margin: auto;
    margin-top: 4.5%;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    border-radius: 7px;
    background: #fff;
    transition-duration: 0.6s;
    overflow: hidden;
}
.sobre-edval { 
    display: flex;
}
    p {
        font-size: 1.250em;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sobre {
        width: 70%;
    }
    .edval {
        width: 30%;
        text-align: center;
    }
.sobre-seguradoras {
    height: 28vh;
    max-height: 240px;
    width: 100vw;
    margin-top: 4.5%;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
    background: #e2e8f8;
    overflow: hidden;
}
    .title-seguradoras {
        padding-top: 1.5%; 
        padding-bottom: 1%;
    }
    .seguradoras {
        display: flex;
        margin: auto;
        width: 85vw;
        max-width: 1280px;
        justify-content: space-between;
    }
.sobre-edval:hover,.sobre-empresa:hover, .imagem-seguradora:hover {
    transform: translateY(-10px);
    transition-duration: 0.6s;
}
@media (max-width: 768px) { /*Configs gerais para dispositivos mobile*/
    .sobre-empresa, .sobre-edval { 
        height: 50vh;
        width: 100vw;
        margin-top: 7%;
        border-radius: 0;
    }
    .sobre-edval { 
        display: flex;
        flex-direction: column;
    }
    .sobre {
        width: 100%;
        height: 55%;
    }
    .edval {
        width: 100%;
        text-align: center;
        height: 45%;
        overflow-y: hidden;
    }
    .sobre-seguradoras {
        margin-top: 7%;
        max-height: 185px;
    }
    .seguradoras {
        margin: auto;
        width: 97vw;
        height: 65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sobre-edval:hover,.sobre-empresa:hover, .imagem-seguradora:hover {
        transform: none;
        transition-duration: none;
    }
}
@media (min-width:320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .text-edval, .text-empresa {
        font-size: 12px;
        padding-left: 3.2%;
        padding-right: 3.2%;
        text-overflow: ellipsis;
    }
    .imagem-edval {
        width: 50vw;
        max-width: 200px;
    }
    .imagem-seguradora {
        margin-left: .5%;
        margin-right: .5%;
        width: 15vw;
        max-width: 58px;
    }
}
@media (min-width:480px) and (max-width: 599px){ /* smartphones, Android phones, landscape iPhone */ 
    .text-edval, .text-empresa {
        font-size: 13.7px;
        padding-left: 3.2%;
        padding-right: 3.2%;
    }
    .imagem-edval {
        width: 55vw;
        max-width: 225px;
    }
    .title-seguradoras {
        font-size: 20px;
    }
    .imagem-seguradora {
        margin-left: .7%;
        margin-right: .7%;
        width: 15vw;
        max-width: 64px;
    }
}
@media (min-width:600px) and (max-width: 768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .text-edval, .text-empresa {
        font-size: 15px;
    }
    .imagem-edval {
        width: 60vw;
        max-width: 235px;
    }
    .imagem-seguradora {
        margin-left: 1.5%;
        margin-right: 1.5%;
        width: 12vw;
        max-width: 70px;
    }
}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .sobre-empresa, .sobre-edval { 
        max-width: 765px;
    }
    .imagem-edval {
        margin: auto;
        width: 25vw;
        max-width: 210px;
        background: red;
    }
    .seguradoras {
        max-width: 765px;
    }
    .imagem-seguradora {
        margin-left: 2%;
        margin-right: 2%;
        width: 10vw;
        max-width: 68px;
    }
}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 
    .sobre-empresa, .sobre-edval { 
        max-width: 975px;
    }
    .imagem-edval {
        width: 30vw;
        max-width: 250px;
    }
    .seguradoras {
        max-width: 975px;
    }
    .imagem-seguradora {
        margin-left: 3.5%;
        margin-right: 3.5%;
        width: 10vw;
        max-width: 70px;
    }
}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 
    .imagem-edval {
        width: 30vw;
        max-width: 320px;
    }
    .seguradoras {
        max-width: 1280px;
    }
    .imagem-seguradora {
        margin-left: 1%;
        margin-right: 1%;
        width: 75px;
    }
}
