/*.container {
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}*/

h2{
    font-size: 28px;
    margin-left: 5%;
}
p {
    /*background: red;*/
    font-size: 15px;
    margin: 1%;
    margin-bottom: 1.5%;
}

.slider-container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    position: relative;
    width: 100vw; /*largura*/
    height: 32vw; /*altura*/

}

#slider img {
    position: absolute;
    opacity: 0; /*apaga todas as imagens*/
    width: 100%;
    height: 100%;
    object-fit: cover; /*cobre todo o espaço disponivel da div*/
    transition: opacity 850ms; /*transição das imagens*/
}

#slider img.selected {  /*imagem que vai aparecer primeiro*/
    opacity: 1;
}


.sobre-empresa { /*fazer uma caixinha bonita*/
    background: rgb(178, 178, 253);
    height: 50vh;
    margin-top: 2.5%;
}

.sobre-edval { /*fazer uma caixinha bonita*/
    background: blue;
    height: 50vh;
    display: flex;
    margin-top: 2.5%;
}
    .sobre {
        /*background: gray;*/
        width: 70%;
    }
    .edval {
        /*background: red;*/
        width: 30%;
        text-align: center;
    }
    .imagem-edval {
        width: 300px;
    }
.sobre-seguradoras {
    background: rgb(69, 69, 131);
    height: 20vh;
    width: 100vw;
    text-align: center;
    margin-top: 2.5%;
}
    .seguradoras {
        background: rgb(191, 160, 221);
       
    }
    .imagem-seguradora:hover {
        opacity: 0;
    }
/*
@media all and (max-width: 700px) {
    #slider {
        position: relative;
        width: 100vw; 
        height: 30vw; 
      
        max-height: 600px; 
       
    }

}