@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #455be9;
  height: 8vh;
  width: 100vw;
}
  nav a {
    color: #F8F8FF;
    text-decoration: none;
    transition: 0.3s;
  }
    nav a:hover {
      color: #f03b3b;
    }
  .logo-img {
    height: 60px;
  }
    .logo-img:hover {
      cursor: pointer;
    }
  .nav-list {
    list-style: none;
    display: flex;
  }
    .nav-list li {
      letter-spacing: 1px;
      margin-left: 10%;
    }

.mobile-menu {
  display: none;
  cursor: pointer;
}
  .mobile-menu div {
    width: 28px;
    height: 3px;
    background: white;
    margin: 6px;
    border-radius: 50px;
    transition: 0.3s;
  }


@media (max-width: 700px) {
  nav {
    height: 8vh;
  }
  .mobile-menu {
    display: block;
    margin-right: -15%;
  }
  .nav-list {
    display: block;
    position: absolute;
    width: 100%;
    top: 8vh;
    right: 0px;
    background: #1e367e;
    z-index: 1000;
    height: 0px;
    transition: .5s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav-list.active {
    height: calc(100vh - 8vh);
    visibility: visible;
    overflow-y: auto;
  }
  .nav-list li {
    text-align: center;
    padding: 3.5%;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  li:hover {
    background: #4a6fdd;
  }
}
    
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateY(-25px); /*direção de surgimento do menu*/
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-6.5px, 7px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  