main {
    width: 85vw;
    margin: auto;
    flex-wrap: wrap;
  
}
.box {
    text-align: center;
    width: 400px;
    height: 240px;
    margin: auto auto 50px auto;
    overflow: hidden;
}
.box:hover {
    transform: translateY(-10px);
    transition: all ease-in-out;
    transition-duration: 0.6s;
}
h4 {
    text-align: center;
  color: #2c73b6;    
  font-size: 1.8em; 
  padding-top: 10px; 
  padding-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.200) 0.1em 0.1em 0.2em;
}



.certificados {
    width: 75%;
    height: 140px;
    margin: 20px auto auto auto;
   
}
.item {
    margin-bottom: 20px;
}
.seguros {
    width: 50%;
    height: 140px;
    margin: 20px auto auto auto;
    
    display: flex;
}
.seg {
    width: 50%;
}

@media (max-width: 768px) { /*Configs gerais para dispositivos mobile*/
    .box {
        width: 100%;
        border-radius: 0;
    }
    .box:hover {
        transform: none;
        transition-duration: none;
    }
}

@media (max-width: 768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 

}

