.service-box {
    text-align: center;
    display: flex;
    width: 85vw;
    height: 75vh;
    margin: auto;
}
    .box {
        width: 25vw;
        height: 25vh;
        background: linear-gradient(#ffffff,#d1dbf3);
        box-shadow: 0px 2px 15px rgb(0 0 0 / 35%);
        border-radius: 7px;
    }
    .box:hover {
        transform: translateY(-10px);
        transition: all ease-in-out;
        transition-duration: 0.6s;
    }
    h2 {
        text-align: center;
        color: #263e7a;         
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;          
        overflow: hidden;
    }

@media (max-width: 768px) { /*Configs gerais para dispositivos mobile*/
    .service-box {
        flex-direction: column;
        width: 100vw;
        margin-top: 5%;
    }
    .box {
        width: 75vw;
        height: 28vh;
    }
    .box:hover {
        transform: none;
        transition-duration: none;
    }
}
@media (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .service-box {
        min-height: 1550px;
    }
    .box {
        margin: 5.5% auto 7% auto;
        min-width: 260px;
        max-width: 460px;
        min-height: 160px;
        max-height: 220px;
    }
    h2 {
        margin-top: -6.5%;
        width: 18vw;
        min-width: 185px;
    }
}
@media (min-width:480px) and (max-width: 599px){ /* smartphones, Android phones, landscape iPhone */ 
    .service-box {
        min-height: 1700px;
    }
    .box {
        margin: 5.5% auto 7% auto;
        min-width: 380px;
        max-width: 480px;
        min-height: 220px;
        max-height: 240px;
    }
    h2 {
        min-width: 200px;
    }
}
@media (min-width:600px) and (max-width: 768px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .service-box {
        min-height: 2000px;
    }
    .box {
        margin: 5.5% auto 5% auto;
        min-width: 420px;
        max-width: 520px;
        min-height: 230px;
        max-height: 250px;
    }
    h2 {
        min-width: 220px;
        margin-top: -5%;
    }
}
@media (min-width:769px) and (max-width: 1024px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .service-box {
        max-width: 795px;
        min-height: 800px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box {
        min-width: 300px;
        max-width: 360px;
        min-height: 200px;
        max-height: 210px;
        margin: auto;
    }
}
@media (min-width:1025px) and (max-width: 1359px) { /* big landscape tablets, laptops, and desktops */ 
    .service-box {
        max-width: 985px;
        min-height: 1000px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box {
        min-width: 365px;
        max-width: 420px;
        min-height: 200px;
        max-height: 280px;
        margin: auto;
    }
}
@media (min-width:1360px) { /* hi-res laptops and desktops */ 
    .service-box {
        max-width: 1280px;
        min-height: 470px;
        max-height: 768px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box {
        min-width: 340px;
        max-width: 380px;
        min-height: 200px;
        max-height: 240px;
        margin: auto;
    }
}

