.title {
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background: chartreuse;
}
    .service-box {
        background: black;
        text-align: center;
        display: flex;
        flex-direction: row;
        width: 90vw;
        max-width: 1600px;
        flex-wrap: wrap;
    }
    .box {
        border-radius: 20px;
        background: rgb(33, 33, 247);
        width: 25vw;
        max-width: 480px;
        min-width: 340px;
        height: 32vh;
        max-height: 300px;
        min-height: 180px;
        margin: auto;
        margin-top: 3.5%;
        box-shadow: 0px 5px 25px 1px black;
    }
        .box:hover {
            background: rgb(7, 7, 92);
        }
        .title-box {
            background: rgb(245, 28, 28);
            border-radius: 10px;
            width: 20vw;
            max-width: 360px;
            min-width: 220px;
            height: 8.5vh;
            max-height: 78px;
            min-height: 48px;
            text-align: center;
            margin: auto;
            margin-top: -5%;
        }
        h2 {
            text-align: center;
            color: white;
            font-size: 1.5rem;
            overflow: hidden;
            
            line-height: 8.5vh;
            
            /*organizar tamanho da fonte para quando diminuir a resol*/
        }

#box-seguros .descricao {
    text-align: center;
    color: white;
    margin: 1%;
}

#box-certificados .descricao {
    text-align: center;
    color: white;
    margin: 5%;
    font-size: 1.1rem;
}

@media all and (max-width: 700px) {
    .title {
        font-size: 1.5rem;
    }
    .service-box {
        flex-direction: column;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    .box {
        margin: auto;
        margin-top: 8.5%;
        width: 80vw;
        max-width: 420px;
        min-width: 230px;
        height: 32vh;
    }

    .title-box {
        width: 60vw;
        max-width: 306px;
        min-width: 180px;
        height: 50px;
        max-height: 60px;
        min-height: 50px;
        margin: auto;
        margin-top: -5%;
    }


}

