.slider-effect {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    position: relative;
    width: 88vw; /*largura*/
    height: 30vw; /*altura*/
    max-width: 1600px; /*limita largura maxima*/
    max-height: 600px; /*limita altura maxima*/
    border-radius: 12px;
    overflow: hidden;
}

#slider img {
    position: absolute;
    opacity: 0; /*apaga todas as imagens*/
    width: 100%;
    height: 100%;
    object-fit: cover; /*cobre todo o espaço disponivel da div*/
    transition: opacity 850ms; /*transição das imagens*/
}

#slider img.selected {  /*imagem que vai aparecer primeiro*/
    opacity: 1;
}